@font-face{
    font-family: "Norse-Bold";
    src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}

/* body{
    margin: 0px 130px 0px;
    background-color: rgb(15, 15, 15);
} */

img{
    height: 100px;
    width: auto;
}

div{
    display: flex;
    justify-content: space-between;
}

#container{
    inset-inline: ;
}

#odin-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 15%;
    width: 100%;
    object-fit: contain;
    top: 30%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 70px;
}

/* div img{
    object-fit: cover;
} */

 #odin-img{
    height: 60px;
    object-fit: contain;
}

#left{
    /* position: absolute; */
    left: 0px;
    width: 40vw;
    height: 100vw;
    max-width: 360px;
    font-family: 'Norse-Bold', serif;
    font-size: 50px;
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;

}

#right{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: gray;
}

.top{
    background-color: rgb(230, 230, 230);
    height: 40vw;
    margin-top: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mid{
    background-color: rgb(200, 200, 200);
}