body{
    margin: 0px 130px 0px;
    background-color: rgb(15, 15, 15);
}

img{
    height: 100vh;
    width: auto;
}

div{
    display: flex;
    justify-content: space-evenly;
}

#odin-container{
    display: flex;
    align-items: center;
    position: absolute;
    height: 15%;
    width: 100%;
    object-fit: contain;
    top: 33%;
    /* left: -130px; */
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 70px;
}

#odin-container img{
    position: relative;
    object-fit: contain;
    min-height: 60px;
    width: auto;
}

div img{
    object-fit: cover;
}

 #odin-img{
    height: 60px;
    object-fit: contain;
}

#left{
    display: flex;
    position: relative;
    align-items: center;
    width: 50vw;
}

#right{
    display: flex;
    flex-direction: column;
    width: 50vw;
    background-color: gray;
}

.top{
    background-color: rgb(230, 230, 230);
    height: 40vw;
    margin-top: 0px;
}

.mid{
    background-color: rgb(200, 200, 200);
}