@font-face{
    font-family: "Norse-Bold";
    src: url(https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf);
}

:root{
    --max-left-width: 360px;
}

div{
    display: flex;
    /* justify-content: space-between; */
}

#odin-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 15vh;
    width: 40vw;
    max-width: var(--max-left-width);
    object-fit: contain;
    top: 20%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    min-height: 70px;
    overflow: hidden;
}

#odin-container span{
    flex: 2;
    max-width: 90%;
    font-size: 60px;
}

 #odin-img{
    max-height: 65px;
    height: auto;
    flex: 1;
}

#left{
    left: 0px;
    top: 0px;
    width: 40vw;
    height: 100vh;
    max-width: var(--max-left-width);
    font-family: 'Norse-Bold', serif;
    font-size: 8vw;
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: sticky;
}

#right{
    position: relative;
    left: 0px;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: gray;
}

#right > div{
    flex-wrap: wrap;
    align-content: center;
    padding: 2% 4%;
}

.top{
    background-color: rgb(240, 240, 240);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 30vh;
    align-content: center;
    z-index: 2;
    font-weight: bold;
}

.mid{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    flex-direction: column;
    position: relative;
    padding: 30px 0px 50px 50px;
}

#right > .mid{
    display: flex;
    align-content: flex-start;
}

.bottom{
    background-color: rgb(230, 230, 230);
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding: 30px 0px 50px 50px;
    font-family: sans-serif;
}

.bottom a{
    color:#596D48;
    text-decoration: none;
}

input, label{
    display: block;
}

#first_name, #email, #password{
    margin-right: 40px;
}

input{
    border: solid #E5E7EB 1px;
    border-radius: 5px;
}

input:focus{
    border: solid blue 1px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

div > .form-container{
    display: flex;
    flex-direction: column;
    margin: 10px 0px;
}

button{
    background-color: #596D48;
    color: antiquewhite;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    border: none;
    font-weight: bold;
    font-size: 15px;
}

button:hover{
    cursor: pointer;
    background-color: #50643F;
}

#credit{
    position: absolute;
    bottom: 0px;
    font-family: sans-serif;
    color: rgb(255, 255, 255, .8);
    font-size: 12px;
    width: 40vw;
    max-width: var(--max-left-width);
    justify-content: center;
    margin-bottom: 20px;
}